/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     line-height: 1.4;
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     min-height:100px; 
     max-width:1300px;
     margin: auto;
}


/******************************************
/* LAYOUT                   
/*******************************************/

header, footer{
     background-color: #ebb721;
     margin:0;
     padding-top:10px;
     padding-left: 40px;
     border-bottom: 2px solid #A8ACAC;
     
}

h1{
     font-family: 'Allan', cursive;
     font-size: 4em;
     color:black;
     margin:0;
     text-transform: uppercase;
}

header p {
     margin-top:-20px;
     font-size: 1.5em;
}

header div {
     float:left;
}

/*.icon {
     height:100px;
     width:100px;
     border-radius: 50px;
     border:solid 4px black;
     float:left;
     margin:10px;
     padding-top: 18px;
     background:black;
     position:relative;
}*/

.icon-row{
     float:right;
     z-index: -1;
     margin-top:-130px;
}


.icon{
     background: black;
     border-radius: 50px;
     height:100px;
     width:100px;
     position:relative;
     margin: 10px;
     display:inline-block;
}

.fa{
     font-size: .7em;
     position:absolute;
     top:22%;
}

.fa-glass{
     right:25%;
}
.fa-cutlery{
     right:30%;
}

.fa-coffee{
     right:20%;
}

.mobile-button{
     float:left;    
}

li{
     border-bottom: 2px solid #A8ACAC;
     padding: 10px 0 0 20px;
     height:100px;
}
li div:first-child{
     color:#1F2020;
     font-size: 1.2em;
     text-transform:uppercase;
   

}

li div:last-child{
     font-size:1em;
     color:#545A53;
     margin-top: 10px;
     overflow:hidden;
}

ul{
     list-style-type: none;
     padding:0;
     margin:0;
     width:100%;

}






#map-canvas {
     /*background:url("http://maps.googleapis.com/maps/api/staticmap?center=42.364081,-71.101503&zoom=15&size=600x600&sensor=false");*/
     height:600px;
     width:65%;
     float:left;
     /*border-radius: 300px;*/
     /*position:absolute;*/
}
/*.fa-chevron-left:hover, .fa-chevron-right:hover{
     color:#00dc93;
}

.fa-chevron-left, .fa-chevron-right{
     color:white;
}

.fa-chevron-left{
     float:left;
}

.fa-chevron-right{
     float:right;
}
*/

.list{
     float:left;
     background-color: white;
     width:35%;
     color:black;
     overflow-y:auto;
     height:600px;

}

.arrow-button{
     float:right;
     width:0;
}




.am-pm{
     font-size: 1em;
}

.list-time{
     width:100px;
     float:left;
     background:#0a2938;
}

.button{
     color:black;
     font-size: 3em;
}

footer{
     height:50px;
}


@media only screen and (max-width:500px){
     #map-canvas{
          width:100%;
          height:400px;
     }

     h1{
          font-size: 1.8em;
     }
     
     header {
          height:44px;
          padding:5px 0 0 10px;
          width:100%;

     }

     header p{
          display:none;
     }

     .mobile-button{
          border-radius: 20px;
          border:5px solid #1F2020;
          height:30px;
          width:30px;
          float:right;
          margin-right: 10px;
          position:relative;
         
     }

    
     .icon{
          width:60px;
          height:60px;
          margin:6px;
          transition:1s ease;
     }

     .icon-row{
          float:none;
          background-color: #ebb721;
          margin-top:0;
     }
     .show{
          height: 70px;
          -webkit-transition:1s ease;
          transition:1s ease;
     }

     .hidden{
          height:0px;
          -webkit-transition:1s ease;
          transition:1s ease;
          
     }

     .fa{
          font-size: .45em;
     }

     .fa-glass{
          right:22%;
     }
     .fa-coffee{
          right:20%;
     }
     .fa-cutlery{
          right:27%;
     }

     li:first-child{
          background:#ebb721;
     }

     li div:last-child{
     margin-top: 0px;
}
    /* .icon{
          width:50px;
          height:50px;
          border-radius: 25px;
          border:solid 4px black;
          margin:10px;
          padding-top: 18px;
     }*/

     .list-container{
          float:none;
          position:fixed;
          bottom:0;
          width:100%;

     }

     .list, .arrow-button{
          height:60px;
     }

     .list{
          width:80%;
          overflow-y:hidden;

     }

     .arrow-button{
          width:20%;
          background-color: black;
     }
   
     li{
          border-bottom: 0 solid #545A53;
     }

     footer{
          display:none;
     }
     
}

.marker-icon {
     z-index: 99;
     position: absolute;
     display: block;
     margin-top: -50px;
     margin-left: -25px;
     width: 50px;
     height: 50px;
     font-size: 30px;
     text-align: center;
     color: #00dc93;
     white-space: nowrap;
}


.fa{
     color:#ebb721;
}

.on{
     color:white;
}
.yellow{
     background-color: #ebb721;
}
/*.time{
     font-size: 10em;
     /*z-index: 100000;*/
 /*    opacity:0.5;
     position:absolute;
     top:180px;
     text-align: center;

}



.chevron-row{
     width: 700px;
     position:absolute;
     top:300px;
     right:-50px;
}

.chevron-row div{
     display:inline-block;
}*/

